@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Slab';
}

body{
    font-size: 10px;    
    background-color: #f2f5ea;
}

.title{
    font-size: 2.3rem;
    font-weight: 600;
    letter-spacing: 0.3rem; 
    margin-left: -90px;
    margin-right: -65px;
    color: #2c363f;
}

.navbar{
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
}

.links li{
    margin-right: 0;
    font-size: 1.4rem;
    font-weight: 500;
    list-style-type: none;   
    padding-left: 20px; 
}

.links li a{
    text-decoration: none;
    color: #2c363f;
}

.button{
    background-color: #e75a7c;
    font-weight: 600;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
    margin-right: 65px;
}

#header{
    width: 100vw;
    height: calc(100vh - 130px);
    background-image: url(./img/rain-4.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 93%;
}

.header{
    width: inherit;
    height: inherit;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.199) 10%,transparent 90%);
}