@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Slab';
    overflow-x: hidden;
}

body{ 
    background-color: #fef5f5;
}

.title{
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: 0.3rem; 
    color: #2c363f;
}

.navbar{
    height: 65px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;    
    flex: 1 1 0%;
    justify-content: center;
    text-align: center;
    max-width: 93%;
    margin: 0px auto;
    gap: 20rem;
}

#header{
    width: 100vw;
    height: calc(100vh - 130px);
    background-image: url(./img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: calc(100vw - 7%);
}

.header{
    width: 100vw;
    height: calc(100vh - 130px);
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.199) 10%,transparent 90%);
}

#photos{
    width: 100vw;
    margin-top: 65px;
}

#photos h1{
    text-align: center;
    color: #e75a7c;
    font-weight: 500;
}

.title--photos{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    margin-bottom: 65px;
}

.photos .gallery--1 img{
    max-width: 30%;
}

.photos .gallery--2 img,
.photos .gallery--3 img{
    max-width: 20%;
}

.photos .gallery--1,
.photos .gallery--2,
.photos .gallery--3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2rem;
}

.photos .gallery--1 img,
.photos .gallery--2 img,
.photos .gallery--3 img{
    padding: 0 2em;
}

#about{
    width: 100vw;
    height: 100vh;
    background-color: #fbf7f4;
}

.about img{
    max-width: 40%;
    margin: 5rem 0 0 40rem;
}

.about .description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.about .description img{
    padding: 0 2em;
}

.about #info {
    width: 700px;
    height: 350px;
    background: white;
  }

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e75a7c;
}
.footer p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding: 1.5em 0;
}