@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Slab';
    max-width: 100vw;
}

body{
    font-size: 10px;    
    background-color: #f2f5ea;
    /* overflow-x: hidden !important; */
}

.title{
    font-size: 2.1rem;
    font-weight: 600;
    letter-spacing: 0.3rem; 
    color: #2c363f;
}

.navbar{
    width: 100vw;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: row;
}

.links li{
    font-size: 1.4rem;
    font-weight: 500;
    list-style-type: none;   
}

.links li a{
    text-decoration: none;
    color: #2c363f;
}

.button{
    background-color: #e75a7c;
    font-weight: 600;
    border: none;
    color: white;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}

#header{
    width: 100vw;
    height: calc(100vh - 130px);
    background-image: url(./img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 93%;
}

.header{
    width: 100vw;
    height: calc(100vh - 130px);
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.199) 10%,transparent 90%);
}

#photos{
    width: 100vw;
    margin-top: 65px;
}

#photos h1{
    text-align: center;
}

.title--photos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 65px;
    border-bottom: 1px solid rgb(228, 228, 228);
    width: 100vw;
}

.photos img{
    max-width: 30%;
}

.photos .gallery--1,
.photos .gallery--2,
.photos .gallery--3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2rem;
}

.photos .gallery--1 img,
.photos .gallery--2 img,
.photos .gallery--3 img{
    padding: 0 2em;
}

#about{
    width: 100vw;
    height: 100vh;
    background-color: #fbf7f4;
}

.about img{
    max-width: 40%;
    margin: 5rem 0 0 40rem;
}

.about .description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.about .description img{
    padding: 0 2em;
}

.about #info {
    width: 700px;
    height: 350px;
    background: white;
  }

.footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e75a7c;
}
.footer p{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding: 1.5em 0;
}